<div class="section">
    <h5>Método CTLA</h5>
    <div class="container 3 left-align">
        <div class="card amber lighten-1">
            <div class="card-content center">
                <div class="row ">
                    <div class="col">
                        <img class="responsive-img " src="assets/ojosazules.png" width=150 height=150>
                    </div>
                    <span class="card-title center"> <strong> Método CTLA</strong></span>
                    El método CTLA, que significa Cálculo del Valor de los Árboles, es una herramienta
                    genial para entender cuánto valen los árboles en nuestro entorno.
                    <br>
                    <br>
                    <strong> Para la valorización de tu árbol por este método debes darnos ciertos
                        datos</strong>
                </div>
            </div>
        </div>
        <div class="card-content center amber lighten-1">
            <div class="row"></div>
            <form action="">
                <h6><strong>Especie del árbol o nombre común</strong> </h6> <i class="material-icons">portrait</i>
                <p>Recuerda que no todos los árboles son iguales por lo que es muy importante conocer su
                    especie</p>
                <input type="text" id="EC" name="Especie CTLA">
                <h6><strong>Ancho del tronco</strong> </h6> <i class="material-icons">looks</i>
                <p>El ancho del tronco es importante para determinar la edad, un tronco formidable es
                    igual a un árbol formidable</p>
                <input type="number" id="ATC" name="Ancho del tronco CTLA">
                <h6><strong>Altura</strong> </h6> <i class="material-icons">equalizer</i>
                <p>La altura de un árbol es importante, entre más grande es más hermoso</p>
                <input type="number" id="ALC" name="Altura CTLA">
            </form>
        </div>
        <br>
        <div class="card-panel center">
            <div class="btn light-green darken-4 waves-effect">
                <strong>Comienza la valorización</strong>
            </div>
        </div>
    </div>
</div>