<div class="section">
    <h5>Valor</h5>
    <div class="container 3 center">
        <div class="card light-green accent-3">
            <div class="card-content center">
                <i class="large material-icons">loyalty</i>
                <br>
                <img class="responsive-img " src="/assets/love.png" width=150 height=150>
                <br>
                <span class="card-title center"> <strong> El valor de tú árbol es </strong></span>
                {{data}}
                <br>
            </div>
        </div>
        <br>
        <div class="card center ">

            <div class="btn-floating btn-large waves-effect waves- light-green accent-3"> <a><i
                        class="material-icons">loop</i></a>
                <br>
            </div>
        </div>
    </div>
</div>