<div class="section">
    <h5>Página Principal</h5>
    <div class="container center-align">
        <div class="card green lighten-1">
            <div class="card-content">
                <div class="row">
                    <div class="col1">
                        <img class="responsive-img green lighten-1" src="assets/cute.png" width=100 height=100>
                    </div>
                    <span class="card-title">
                        <strong>¿Qué es Arbori App?</strong>
                    </span>
                    Arbori App es una aplicación diseñada para la valorización económica de individuos. Actualmente
                    contamos con dos métodos.
                    <div class="row"></div>
                    <strong>Si quieres comenzar el proceso de valorización, dale click al siguiente botón.</strong>
                    <div class="row"></div>
                    <div class="btn light-green darken-4 waves-effect" (click)="initValoration()">
                        <strong>Comienza la valorización</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
